.file-upload-container {
  max-width:1000px;
  margin:auto;
}

.file-upload-container>form>input[type="text"] {
  width:100%;
  margin:0.5em auto;
  padding:10px;
  border-radius:5px;
  border:solid 1px;
  box-sizing: border-box;
}

.file-upload-container>form>button {
  background-color:#05a;
  box-sizing: border-box;
  border:solid 1px;
  border-radius:5px;
  color:white;
  cursor:pointer;
  display:block;
  margin:0.5em auto;
  padding:10px;
  width:100%;
}
.file-upload-container>form>button:hover {
  background-color:#07f;
}

.file-upload-container>form>button:active {
  background-color:#037;
}

.error-message {
  color:red;
}
